<form ng-submit="vm.submitArticle()">
    <br/>
    <div class="form-group">
        <label for="title" class="control-label">Title:</label>
        <input type="text" class="form-control" id="title" ng-model="vm.article.title" >
    </div>
    <div class="form-group">
        <label for="link" class="control-label">Link:</label>
        <input type="text" class="form-control" id="link" ng-model="vm.article.link">
    </div>

    <div class="form-group">
        <label for="body" class="control-label">Body:</label>
        <text-angular ng-model="vm.article.body" style="height: 300px" id="body"></text-angular>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">
                {{vm.article._id ? 'Update' : 'Create'}}
            </button>
            <br/>
        </div>
    </div>
</form>